/* line 4, ../scss/styles.scss */
body {
  background-color: magenta;
  overflow: hidden;
}

/* line 9, ../scss/styles.scss */
.view {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 15, ../scss/styles.scss */
#match .container {
  height: 22.30769%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  font-family: "Arial Rounded MT Bold", sans-serif;
}
/* line 23, ../scss/styles.scss */
#match .timer-container {
  height: 27.58621%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ccc;
  font-size: 32px;
  text-align: center;
}
/* line 31, ../scss/styles.scss */
#match .timer-container #timer {
  width: 8%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: white;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
  z-index: 2;
}
/* line 44, ../scss/styles.scss */
#match .timer-container .timer-fill {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: #2CE88B;
  border-radius: 0 999px 999px 0;
  z-index: 1;
}
/* line 54, ../scss/styles.scss */
#match .timer-container .timer-fill.yellow {
  background-color: yellow;
}
/* line 58, ../scss/styles.scss */
#match .timer-container .timer-fill.red {
  background-color: red;
}
/* line 64, ../scss/styles.scss */
#match .info {
  height: 72.41379%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 0;
}
/* line 72, ../scss/styles.scss */
#match .info .left-info, #match .info .right-info, #match .info .center-info {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  font-size: medium;
}
/* line 79, ../scss/styles.scss */
#match .info .left-info {
  width: 18.49711%;
  left: 0;
}
/* line 83, ../scss/styles.scss */
#match .info .right-info {
  width: 18.49711%;
  right: 0;
}
/* line 87, ../scss/styles.scss */
#match .info .score-container {
  width: 1060px;
  height: 165px;
  font-size: 0;
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}
/* line 102, ../scss/styles.scss */
#match .info .score-container > div {
  display: inline-block;
  vertical-align: top;
}
/* line 107, ../scss/styles.scss */
#match .info .score-container .red-teams, #match .info .score-container .blue-teams {
  width: 230px;
  height: 165px;
  background-color: #bababa;
  box-shadow: inset 0px 0px 10px 0px rgba(50, 50, 50, 0.25);
  font-size: 32px;
}
/* line 114, ../scss/styles.scss */
#match .info .score-container .red-teams .team, #match .info .score-container .blue-teams .team {
  width: 230px;
  height: 55px;
  text-align: center;
  font-size: 0;
  box-sizing: border-box;
}
/* line 121, ../scss/styles.scss */
#match .info .score-container .red-teams .team:nth-child(n + 2), #match .info .score-container .blue-teams .team:nth-child(n + 2) {
  border-top: 1px solid #999999;
}
/* line 125, ../scss/styles.scss */
#match .info .score-container .red-teams .team > div, #match .info .score-container .blue-teams .team > div {
  display: inline-block;
  vertical-align: top;
  font-size: 32px;
  line-height: 55px;
  box-sizing: border-box;
}
/* line 133, ../scss/styles.scss */
#match .info .score-container .red-teams .team .team-number, #match .info .score-container .blue-teams .team .team-number {
  width: 64%;
  color: #444;
}
/* line 137, ../scss/styles.scss */
#match .info .score-container .red-teams .team .team-number:nth-of-type(1), #match .info .score-container .blue-teams .team .team-number:nth-of-type(1) {
  border-right: 1px solid #999999;
}
/* line 140, ../scss/styles.scss */
#match .info .score-container .red-teams .team .team-number:nth-of-type(2), #match .info .score-container .blue-teams .team .team-number:nth-of-type(2) {
  border-left: 1px solid #999999;
}
/* line 144, ../scss/styles.scss */
#match .info .score-container .red-teams .team .team-rank, #match .info .score-container .blue-teams .team .team-rank {
  width: 36%;
  color: #666;
}
/* line 150, ../scss/styles.scss */
#match .info .score-container .red-score, #match .info .score-container .blue-score {
  width: 300px;
  height: 165px;
  font-size: 100px;
  text-align: center;
  line-height: 165px;
}
/* line 158, ../scss/styles.scss */
#match .info .score-container .red-score {
  background-color: #f16567;
}
/* line 161, ../scss/styles.scss */
#match .info .score-container .blue-score {
  background-color: #7291ca;
}
/* line 165, ../scss/styles.scss */
#match .info .score-container .red-teams {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
/* line 169, ../scss/styles.scss */
#match .info .score-container .blue-teams {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* line 179, ../scss/styles.scss */
#rankings .prototype {
  display: none;
}
/* line 183, ../scss/styles.scss */
#rankings table {
  width: 100%;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
  font-size: 1.6vw;
  background-color: white;
  border-spacing: 0;
}
/* line 192, ../scss/styles.scss */
#rankings table td {
  padding: 10px;
  border-bottom: 1px solid #999;
}
/* line 197, ../scss/styles.scss */
#rankings table tr:nth-child(odd) td {
  background-color: #eee;
}
/* line 200, ../scss/styles.scss */
#rankings table tr:nth-child(even) td {
  background-color: white;
}
/* line 204, ../scss/styles.scss */
#rankings table thead td {
  z-index: 2;
  position: relative;
}
/* line 208, ../scss/styles.scss */
#rankings table .rankcell {
  z-index: 1;
  position: relative;
}
/* line 215, ../scss/styles.scss */
#rankings.scrolling .rankcell {
  letter-spacing: auto;
}
