/* line 4, ../scss/styles.scss */
body {
  background-color: magenta;
  overflow: hidden;
}

/* line 9, ../scss/styles.scss */
.view {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 27, ../scss/styles.scss */
#match .container {
  height: 260px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  font-family: "Arial Rounded MT Bold", sans-serif;
}
/* line 35, ../scss/styles.scss */
#match .timer-container {
  height: 55px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ccc;
  font-size: 40px;
  text-align: center;
  overflow: hidden;
}
/* line 44, ../scss/styles.scss */
#match .timer-container #timer {
  width: 8%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  line-height: 55px;
}
/* line 57, ../scss/styles.scss */
#match .timer-container .timer-fill {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: #23C575;
  border-radius: 0 999px 999px 0;
  z-index: 1;
}
/* line 67, ../scss/styles.scss */
#match .timer-container .timer-fill.yellow {
  background-color: yellow;
}
/* line 71, ../scss/styles.scss */
#match .timer-container .timer-fill.red {
  background-color: red;
}
/* line 77, ../scss/styles.scss */
#match .info {
  height: 205px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  box-sizing: border-box;
  font-size: 0;
}
/* line 85, ../scss/styles.scss */
#match .info .left-info, #match .info .right-info, #match .info .center-info {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  font-size: medium;
}
/* line 92, ../scss/styles.scss */
#match .info .left-info {
  width: 390px;
  height: 165px;
  position: absolute;
  left: 20px;
  top: 20px;
}
/* line 99, ../scss/styles.scss */
#match .info .left-info img {
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* line 106, ../scss/styles.scss */
#match .info .right-info {
  width: 390px;
  height: 165px;
  position: absolute;
  right: 20px;
  top: 20px;
}
/* line 113, ../scss/styles.scss */
#match .info .right-info img {
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* line 119, ../scss/styles.scss */
#match .info .right-info h2 {
  text-align: center;
}
/* line 123, ../scss/styles.scss */
#match .info .score-container {
  width: 1060px;
  height: 165px;
  font-size: 0;
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left: -530px;
}
/* line 137, ../scss/styles.scss */
#match .info .score-container > div {
  display: inline-block;
  vertical-align: top;
}
/* line 142, ../scss/styles.scss */
#match .info .score-container .red-teams, #match .info .score-container .blue-teams {
  width: 230px;
  height: 165px;
  background-color: #bababa;
  box-shadow: inset 0px 0px 10px 0px rgba(50, 50, 50, 0.25);
  font-size: 32px;
}
/* line 149, ../scss/styles.scss */
#match .info .score-container .red-teams .team, #match .info .score-container .blue-teams .team {
  width: 230px;
  height: 55px;
  text-align: center;
  font-size: 0;
  box-sizing: border-box;
}
/* line 156, ../scss/styles.scss */
#match .info .score-container .red-teams .team:nth-child(n + 2), #match .info .score-container .blue-teams .team:nth-child(n + 2) {
  border-top: 1px solid #999999;
}
/* line 160, ../scss/styles.scss */
#match .info .score-container .red-teams .team > div, #match .info .score-container .blue-teams .team > div {
  display: inline-block;
  vertical-align: top;
  font-size: 32px;
  line-height: 55px;
  box-sizing: border-box;
}
/* line 168, ../scss/styles.scss */
#match .info .score-container .red-teams .team .team-number, #match .info .score-container .blue-teams .team .team-number {
  width: 64%;
  color: #444;
}
/* line 172, ../scss/styles.scss */
#match .info .score-container .red-teams .team .team-number:nth-of-type(1), #match .info .score-container .blue-teams .team .team-number:nth-of-type(1) {
  border-right: 1px solid #999999;
}
/* line 175, ../scss/styles.scss */
#match .info .score-container .red-teams .team .team-number:nth-of-type(2), #match .info .score-container .blue-teams .team .team-number:nth-of-type(2) {
  border-left: 1px solid #999999;
}
/* line 179, ../scss/styles.scss */
#match .info .score-container .red-teams .team .team-rank, #match .info .score-container .blue-teams .team .team-rank {
  width: 36%;
  color: #666;
}
/* line 185, ../scss/styles.scss */
#match .info .score-container .scores {
  width: 600px;
  height: 165px;
  font-size: 0;
  position: relative;
}
/* line 191, ../scss/styles.scss */
#match .info .score-container .scores > div {
  display: inline-block;
  vertical-align: top;
}
/* line 196, ../scss/styles.scss */
#match .info .score-container .scores .red-score, #match .info .score-container .scores .blue-score {
  width: 300px;
  height: 165px;
  font-size: 100px;
  text-align: center;
  line-height: 165px;
  transition: all 0.5s ease;
}
/* line 205, ../scss/styles.scss */
#match .info .score-container .scores .coop {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  background-color: yellow;
  transition: height 0.5s ease;
}
/* line 217, ../scss/styles.scss */
#match .info .score-container .scores.coop .red-score, #match .info .score-container .scores.coop .blue-score {
  height: 150px;
  line-height: 150px;
}
/* line 221, ../scss/styles.scss */
#match .info .score-container .scores.coop .coop {
  height: 15px;
}
/* line 227, ../scss/styles.scss */
#match .info .score-container .red-score {
  background-color: #f16567;
}
/* line 230, ../scss/styles.scss */
#match .info .score-container .blue-score {
  background-color: #7291ca;
}
/* line 234, ../scss/styles.scss */
#match .info .score-container .red-teams {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
/* line 238, ../scss/styles.scss */
#match .info .score-container .blue-teams {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* line 248, ../scss/styles.scss */
#rankings .prototype {
  display: none;
}
/* line 252, ../scss/styles.scss */
#rankings table {
  width: 100%;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
  font-size: 1.6vw;
  background-color: white;
  border-spacing: 0;
}
/* line 261, ../scss/styles.scss */
#rankings table td {
  padding: 10px;
  border-bottom: 1px solid #999;
}
/* line 266, ../scss/styles.scss */
#rankings table tr:nth-child(odd) td {
  background-color: #eee;
}
/* line 269, ../scss/styles.scss */
#rankings table tr:nth-child(even) td {
  background-color: white;
}
/* line 273, ../scss/styles.scss */
#rankings table thead td {
  z-index: 2;
  position: relative;
}
/* line 277, ../scss/styles.scss */
#rankings table .rankcell {
  z-index: 1;
  position: relative;
}
/* line 284, ../scss/styles.scss */
#rankings.scrolling .rankcell {
  letter-spacing: auto;
}
