$red: #f00;
$blue: #00f;

body {
	background-color: magenta;
	overflow: hidden;
}

.view {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	padding: 40px;
}

#match {
	.container {
		height: (145px / 650px) * 100%;
		position: absolute;
		left: 0; right: 0; bottom: 0;
		background-color: #ddd;
		font-family: "Arial Rounded MT Bold", sans-serif;
	}

	.timer-container {
		height: (40px / 145px) * 100%;
		position: absolute;
		top: 0; left: 0; right: 0;
		background-color: #ccc;
		font-size: 32px;
		text-align: center;

		#timer {
			width: 8%;
			margin-left: auto;
			margin-right: auto;
			height: 100%;
			background-color: white;
			border: 5px solid black;
			box-sizing: border-box;
			border-radius: 6px;
			position: relative;
			z-index: 2;
		}

		.timer-fill {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 0;
			background-color: #2CE88B;
			border-radius: 0 999px 999px 0;
			z-index: 1;

			&.yellow {
				background-color: yellow;
			}

			&.red {
				background-color: red;
			}
		}
	}

	.info {
		height: (105px / 145px) * 100%;
		position: absolute;
		bottom: 0; left: 0; right: 0;
		padding: 10px;
		box-sizing: border-box;
		font-size: 0;

		.left-info, .right-info, .center-info {
			height: 100%;
			display: inline-block;
			vertical-align: top;
			font-size: medium;
		}

		.left-info {
			width: (160px / 865px) * 100%;
			left: 0;
		}
		.right-info {
			width: (160px / 865px) * 100%;
			right: 0;
		}
		.center-info {
			width: (545px / 865px) * 100%;
			text-align: center;
			font-size: 0;

			#red-teams, #blue-teams {
				display: inline-block;
				vertical-align: top;
				width: (305px / 2 / 545px) * 100%;
				height: 100%;
				
				.team-number, .team-rank {
					border: 2px solid black;
					border-radius: 5px;
					box-sizing: border-box;
					display: inline-block;
					vertical-align: top;
					font-size: 20px;
					padding: 2px 10px;
				}
				.team-number {
					text-align: left;
					background-color: #66dd66;
					width: (75px / 140px) * 100%;
				}
				.team-rank {
					text-align: center;
					background-color: #ddd;
					width: (65px / 140px) * 100%;
				}
			}

			.scores-container {
				width: (240px / 545px) * 100%;
				height: 100%;
				display: inline-block;
				vertical-align: top;
				text-align: center;

				.score {
					width: 50%;
					height: 100%;
					display: inline-block;
					font-size: 4vw;
					padding: 30px 20px;
					box-sizing: border-box;

					&.red {
						background-color: $red;
					}
					&.blue {
						background-color: $blue;
					}
				}
			}
		}
	}
}
