$red: #f00;
$blue: #00f;

body {
	background-color: magenta;
	overflow: hidden;
}

.view {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

#match {
	$timer-height: 55px;
	$info-padding: 20px;
	$score-width: 300px;
	$teams-width: 230px;
	$teams-border: 1px solid #999;
	$score-height: 165px;
	$coop-height: 15px;

	$info-height: $score-height + (2 * $info-padding);
	$score-container-width: 2 * $score-width + 2 * $teams-width;
	$side-info-width: ((1920px - $score-container-width) / 2) - (2 * $info-padding);

	.container {
		height: $info-height + $timer-height;
		position: absolute;
		left: 0; right: 0; bottom: 0;
		background-color: #ddd;
		font-family: "Arial Rounded MT Bold", sans-serif;
	}

	.timer-container {
		height: $timer-height;
		position: absolute;
		top: 0; left: 0; right: 0;
		background-color: #ccc;
		font-size: 40px;
		text-align: center;
		overflow: hidden;

		#timer {
			width: 8%;
			margin-left: auto;
			margin-right: auto;
			height: 100%;
			background-color: rgba(255,255,255,0.7);
			box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
			box-sizing: border-box;
			position: relative;
			z-index: 2;
			line-height: $timer-height;
		}

		.timer-fill {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 0;
			background-color: #23C575;
			border-radius: 0 999px 999px 0;
			z-index: 1;

			&.yellow {
				background-color: yellow;
			}

			&.red {
				background-color: red;
			}
		}
	}

	.info {
		height: $score-height + (2 * $info-padding);
		position: absolute;
		bottom: 0; left: 0; right: 0;
		padding: $info-padding;
		box-sizing: border-box;
		font-size: 0;

		.left-info, .right-info, .center-info {
			height: 100%;
			display: inline-block;
			vertical-align: top;
			font-size: medium;
		}

		.left-info {
			width: $side-info-width;
			height: $score-height;
			position: absolute;
			left: $info-padding;
			top: $info-padding;

			img {
				max-height: 100%;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
		}
		.right-info {
			width: $side-info-width;
			height: $score-height;
			position: absolute;
			right: $info-padding;
			top: $info-padding;

			img {
				height: 110px;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
			h2 {
				text-align: center;
			}
		}
		.score-container {

			width: $score-container-width;
			height: $score-height;
			font-size: 0;
			font-family: "Arial Rounded MT Bold", Arial, sans-serif;
			overflow: hidden;

			position: absolute;
			left: 50%;
			top: $info-padding;
			margin-left: -1 * ($teams-width + $score-width);


			& > div {
				display: inline-block;
				vertical-align: top;
			}

			.red-teams, .blue-teams {
				width: $teams-width;
				height: $score-height;
				background-color: #bababa;
				box-shadow: inset 0px 0px 10px 0px rgba(50, 50, 50, 0.25);
				font-size: 32px;

				.team {
					width: $teams-width;
					height: $score-height / 3;
					text-align: center;
					font-size: 0;
					box-sizing: border-box;

					&:nth-child(n + 2) {
						border-top: $teams-border;
					}

					& > div {
						display: inline-block;
						vertical-align: top;
						font-size: 32px;
						line-height: $score-height / 3;
						box-sizing: border-box;
					}

					.team-number {
						width: 64%;
						color: #444;

						&:nth-of-type(1) {
							border-right: $teams-border;
						}
						&:nth-of-type(2) {
							border-left: $teams-border;
						}
					}
					.team-rank {
						width: 36%;
						color: #666;
					}
				}
			}
			.scores {
				width: $score-width * 2;
				height: $score-height;
				font-size: 0;
				position: relative;

				& > div {
					display: inline-block;
					vertical-align: top;
				}

				.red-score, .blue-score {
					width: $score-width;
					height: $score-height;
					font-size: 100px;
					text-align: center;
					line-height: $score-height;

					transition: all 0.5s ease;
				}
				.coop {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					height: 0;
					background-color: yellow;

					transition: height 0.5s ease;
				}

				&.coop {
					.red-score, .blue-score {
						height: $score-height - $coop-height;
						line-height: $score-height - $coop-height;
					}
					.coop {
						height: $coop-height;
					}
				}
			}

			.red-score {
				background-color: #f16567;
			}
			.blue-score {
				background-color: #7291ca;
			}

			.red-teams {
				border-top-left-radius: 12px;
				border-bottom-left-radius: 12px;
			}
			.blue-teams {
				border-top-right-radius: 12px;
				border-bottom-right-radius: 12px;
			}
		}
	}
}

#rankings {

	.prototype {
		display: none;
	}

	table {
		width: 100%;
		font-weight: bold;
		font-family: Arial;
		text-align: center;
		font-size: 1.6vw;
		background-color: white;
		border-spacing: 0;

		td {
			padding: 10px;
			border-bottom: 1px solid #999;
		}

		tr:nth-child(odd) td {
			background-color: #eee;
		}
		tr:nth-child(even) td {
			background-color: white;
		}
		
		thead td {
			z-index: 2;
			position: relative;
		}
		.rankcell {
			// To scroll results, set transform: translateY() in this rule.
			z-index: 1;
			position: relative;
		}
	}

	&.scrolling .rankcell {
		letter-spacing: auto;
	}
}
