$red: #f00;
$blue: #00f;

body {
	background-color: magenta;
	overflow: hidden;
}

.view {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

#match {
	.container {
		height: (145px / 650px) * 100%;
		position: absolute;
		left: 0; right: 0; bottom: 0;
		background-color: #ddd;
		font-family: "Arial Rounded MT Bold", sans-serif;
	}

	.timer-container {
		height: (40px / 145px) * 100%;
		position: absolute;
		top: 0; left: 0; right: 0;
		background-color: #ccc;
		font-size: 32px;
		text-align: center;

		#timer {
			width: 8%;
			margin-left: auto;
			margin-right: auto;
			height: 100%;
			background-color: white;
			border: 5px solid black;
			box-sizing: border-box;
			border-radius: 6px;
			position: relative;
			z-index: 2;
		}

		.timer-fill {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 0;
			background-color: #2CE88B;
			border-radius: 0 999px 999px 0;
			z-index: 1;

			&.yellow {
				background-color: yellow;
			}

			&.red {
				background-color: red;
			}
		}
	}

	.info {
		height: (105px / 145px) * 100%;
		position: absolute;
		bottom: 0; left: 0; right: 0;
		padding: 10px;
		box-sizing: border-box;
		font-size: 0;

		.left-info, .right-info, .center-info {
			height: 100%;
			display: inline-block;
			vertical-align: top;
			font-size: medium;
		}

		.left-info {
			width: (160px / 865px) * 100%;
			left: 0;
		}
		.right-info {
			width: (160px / 865px) * 100%;
			right: 0;
		}
		.score-container {
			$score-width: 300px;
			$teams-width: 230px;
			$teams-border: 1px solid #999;
			$height: 165px;

			width: 2 * $score-width + 2 * $teams-width;
			height: $height;
			font-size: 0;
			font-family: "Arial Rounded MT Bold", Arial, sans-serif;
			overflow: hidden;

			display: inline-block;
			vertical-align: top;

			& > div {
				display: inline-block;
				vertical-align: top;
			}

			.red-teams, .blue-teams {
				width: $teams-width;
				height: $height;
				background-color: #bababa;
				box-shadow: inset 0px 0px 10px 0px rgba(50, 50, 50, 0.25);
				font-size: 32px;

				.team {
					width: $teams-width;
					height: $height / 3;
					text-align: center;
					font-size: 0;
					box-sizing: border-box;

					&:nth-child(n + 2) {
						border-top: $teams-border;
					}

					& > div {
						display: inline-block;
						vertical-align: top;
						font-size: 32px;
						line-height: $height / 3;
						box-sizing: border-box;
					}

					.team-number {
						width: 64%;
						color: #444;

						&:nth-of-type(1) {
							border-right: $teams-border;
						}
						&:nth-of-type(2) {
							border-left: $teams-border;
						}
					}
					.team-rank {
						width: 36%;
						color: #666;
					}
				}
			}
			.red-score, .blue-score {
				width: $score-width;
				height: $height;
				font-size: 100px;
				text-align: center;
				line-height: $height;
			}

			.red-score {
				background-color: #f16567;
			}
			.blue-score {
				background-color: #7291ca;
			}

			.red-teams {
				border-top-left-radius: 12px;
				border-bottom-left-radius: 12px;
			}
			.blue-teams {
				border-top-right-radius: 12px;
				border-bottom-right-radius: 12px;
			}
		}
	}
}

#rankings {

	.prototype {
		display: none;
	}

	table {
		width: 100%;
		font-weight: bold;
		font-family: Arial;
		text-align: center;
		font-size: 1.6vw;
		background-color: white;
		border-spacing: 0;

		td {
			padding: 10px;
			border-bottom: 1px solid #999;
		}

		tr:nth-child(odd) td {
			background-color: #eee;
		}
		tr:nth-child(even) td {
			background-color: white;
		}
		
		thead td {
			z-index: 2;
			position: relative;
		}
		.rankcell {
			// To scroll results, set transform: translateY() in this rule.
			z-index: 1;
			position: relative;
		}
	}

	&.scrolling .rankcell {
		letter-spacing: auto;
	}
}
